.landing-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  p {
    font-size: 16px;
    color: white;
    font-weight: normal;
  }
}

.winelife h1, .comment h3, .wine-lover p {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.background-image {
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), image-url('landing-4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.winelife {
  margin-top: 18vh;
  color: white;
  text-decoration: none;
  padding: 0;
  h3 {
    font-size: 20px;
    color: white;
    font-weight: 500;
    margin-top: 10px;
  }
}

.winelife h1 {
  font-weight: 500;
  font-size: 48px;
  color: white;
  margin:0;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin: 20% 0 15px 0;
  padding: 20px 0 6px 0;
}

.submit-btn-home {
    background-color: #F6546A;
    padding: 15px;
    border-radius: 4px;
    width: 50%;
    margin: 0px auto;
    border: none;
    color: white;
}

.sign-up-link {
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}

.wine-lover p {
  color: white;
  margin: 0;
  font-size: 12px;
}

@media only screen and (max-width: 600px) {
  .submit-btn-home {
    width: 80%;
  }
  .winelife h3 {
    font-size: 0.95em;
  }
}
