.background-image-home   {
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), image-url('landing-4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}  

.winelife {
  color: white;
  text-decoration: none;
  padding: 0;
}

.winelife h1 {
 font-weight: 500;
 font-size: 48px;
 color: white;
 margin: 325px 0px 0px 0px;
}


.comment h3 {
  font-size: 20px;
  color: white;
  font-weight: 500;
  margin-top: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 20px;
}

.submit-btn-home {
    background-color: #F6546A;
    padding: 18px;
    border-radius: 4px;
    width: 92%;
    margin: auto 0px;
    border: none;
    color: white;
}


.sign-up-link a {
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

