// Specific CSS for your home-page

form, table {
  margin: 10px auto;
}

.main-content {
  margin: 100px auto;
  background-color: white;
  border-radius: 5;
  padding: 20px;
  text-align: center;
}
