// Specific CSS for your home-page

form, table {
  margin: 10px auto;
}

td {
  padding: 10px 10px;
}

.main-content {
  margin: 100px auto;
  background-color: white;
  border-radius: 5;
  padding: 20px;
  text-align: center;
}

@media only screen and (max-width: 599px) {
  td {
    padding: 4px;
  }

  .main-content {
    margin: 40px auto;
    padding-right: 0px;
    padding-left: 0px;
  }

  /*I know I shouldn't override Bootstrap classes, but hey, at least it works without major problems.*/
  .container {
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media only screen and (max-width: 359px) {
  .cb-container, .checkmark {
    height: 90px;
    width: 90px;
  }

  .main-content {
    margin: 10px auto;
  }

}
