
.landing-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  p {
    font-size: 16px;
    color: white;
    font-weight: normal;
  }
}

.winelife h1, .comment h3, .wine-lover p {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.background-image {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), image-url('landing-4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.winelife {
  color: white;
  text-decoration: none;
  padding: 0;
  h3 {
  font-size: 20px;
  color: white;
  font-weight: 500;
  margin-top: 10px;
}
}

.winelife h1 {
 font-weight: 500;
 font-size: 48px;
 color: white;
 margin:0;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  padding: 20px;
}

.submit-btn-home {
    background-color: #F6546A;
    padding: 15px;
    border-radius: 4px;
    width: 92%;
    margin: 0px auto;
    border: none;
    color: white;
}


.sign-up-link a {

  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-decoration:underline;
}

.wine-lover p {
  color: white;
  margin: 0;
  font-size: 12px;
}

.home-btn-wrapper{
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  text-align: center;
  p {
    font-size: 16px;
    color: white;
    font-weight: normal;
  }
}

