h1 {
  font-size: 2.2em;
  margin: 40px 0;
  font-weight: lighter;
  font-size: 36px;
}

.wrapper-results {
  padding-bottom: 60px;
  background-color: white;
}

.saq-location {
  color: rgba(0,0,0,0.7);
  font-size: 0.8em;
}

.no-h-margin {
  margin-left: 0px;
  margin-right: 0px;
}

.no-h-padding {
  padding-left: 0px;
  padding-right: 0px;
  max-width: 100vw;
}

#map {
  height: 700px;
}

@media only screen and (max-width: 599px) {
  // .wrapper-results {
  //   margin-bottom: 30px;
  // }

  #map {
    height: 90vh;
  }
}

@media only screen and (max-width: 320px) {
  .no-h-margin {
    margin-left: 15px;
    margin-right: 15px;
  }
}
