h1 {
  font-size: 2.2em;
  margin: 40px 0;
  font-weight: lighter;
  font-size: 36px;
}

.wrapper-results {
  padding-bottom: 60px;
  background-color: white;
}

.saq-location {
  color: rgba(0,0,0,0.7);
  font-size: 0.8em;
}

#map {
  height: 700px;
}

@media only screen and (max-width: 599px) {
  // .wrapper-results {
  //   margin-bottom: 30px;
  // }

  #map {
    height: 90vh;
  }
}

// .col-xs-12 .col-sm-6 .col-lg-4 {
//   position: relative;
//   min-height: 1px;
//   padding-left: 15px;

// }
