.results-page {
  width: 688px;
  height:auto;
  background-color: #FFFFFF;
  margin: 100px auto;
}

.flexbox-show {
  display:flex;

}

.flexbox-item-show {
width:auto;
height:auto;
}


body {background-color:rgb(106, 72, 72);}

