<div class="footer">
  <div class="footer-content">
    <div class="footer-header">
      Coded by
    </div>
    <div class="footer-links">
      <span><a href="https://github.com/v-bianchi" target="blank"><i class="fa fa-github"></i> Victor</a></span>
      <span><a href="https://github.com/alexanderlomholt" target="blank"><i class="fa fa-github"></i> Alexander</a></span>
      <span><a href="https://github.com/Claire2133" target="blank"><i class="fa fa-github"></i> Claire</a></span>
      <span><a href="https://github.com/bradymichael27" target="blank"><i class="fa fa-github"></i> Michael</a></span>
    </div>
  </div>
</div>
