  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <!-- Header Left -->
        <div class="col-sm-7">
          <div class="verticle-line">
          </div>

        </div>
        <!-- /End Header Left -->
        <!-- Header Form -->
        <div class="col-sm-5" id="pick-form">
          <!-- Form Title -->
            <h2 class="form-title">please pick your wine<br>
          <span class="arrow-down"></span>
              </h2>
          <!--- /End Form Title -->
    <div class="form-bg">
          <div id="pick-results"></div>
          <!-- Form -->
        <div class="form-group">
              <div class="container">
                <form>
                  <label class="checkbox-inline">
                    <input type="checkbox" value="">red
                  </label>
                  <label class="checkbox-inline">
                    <input type="checkbox" value="">white
                  </label>
                  <label class="checkbox-inline">
                    <input type="checkbox" value="">rose
                  </label>
                </form>
              </div>
            </div>
            <div class="form-group">
              <div class="container">
                <form>
                  <label class="checkbox-inline">
                    <input type="checkbox" value="">meat
                  </label>
                  <label class="checkbox-inline">
                    <input type="checkbox" value="">fish
                  </label>
                  <label class="checkbox-inline">
                    <input type="checkbox" value="">cheese
                  </label>
                </form>
              </div>
            </div>
            <div class="form-group">
              <div class="container">
                <form>
                  <label class="checkbox-inline">
                    <input type="checkbox" value="">red
                  </label>
                  <label class="checkbox-inline">
                    <input type="checkbox" value="">white
                  </label>
                  <label class="checkbox-inline">
                    <input type="checkbox" value="">rose
                  </label>
                </form>
              </div>
      <button type="submit" class="submit-btn" id="submit_btn">Submit</button>
          </div>
          <!-- /End Form -->
        </div>
        <!-- /End Header Form -->
      </div>
    </div>
  </div>

