 <body class="background-image">
  <div class="container main-content">
    <div class="winelife text-center">
      <h1> //WINELIFE</h1>
    </div>
    <div class="comment text-center">
      <h3> Your personal wine advisor</h3>
    </div>
    <div class="buttons">
      <button type="submit" class="submit-btn-home" id="signup_btn">Sign up</button>

      <button type="submit" class="submit-btn-home" id="signin_btn">Sign in</button>
    </div>
  </div>
</body>
