<div class="container text-center">
  <div class="errors">
    <h1>500 - server error</h1>

    <h2>Don' worry - It's not you, it's us...</h2>

    <%= link_to root_path do %>
      <h3> <i class="fa fa-search"></i> </i>Find me some wine </h3>
    <% end %>

  </div>
</div>
