<body class="background-image-form">
	<div class="main-content-login">
		<form action="/users/sign_in" method="post">
			  <div class="form-inputs">

			<div class="page__section">
				<h3>Log in</h3>

				<label class="field field_type2">

					<input class="field__input" name="user[email]" placeholder="e.g. email@gmail.com">
					<span class="field__label-wrap">
						<span class="field__label">Enter your email</span>
					</span>
				</label>

				<label class="field field_type2">
					<input class="field__input" name="user[password]" type="password" placeholder="e.g. *******">

					<span class="field__label-wrap">
						<span class="field__label">Enter your password</span>
					</span>
				</label>
			</div>
		</div>
				<div class="button-submit-form">
					<input type="submit" name="" class="submit-btn-home" value="log in">
				</div>

		</form>

		<div class="sign-up-link text-center">
			<%= link_to t("Sign_up", default: "CREATE AN ACCOUNT"), new_user_registration_path, class: "sign-up-link" %>
		</div>

		<div class="forgot-password text-center">
			<%= link_to "Forgot your password?", new_password_path(resource_name) %>
		</div>



	</div>
</body>

