/* CARD */
.winecard {
  margin: 30px auto;
  padding: 27px;
  background-color: white;
  border: 1px solid rgb(240,240,240);
  text-align: center;
  border-radius: 10px;
  height: 480px;
  max-width: 320px;
  position: relative;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  transition: all 0.2s ease-out;
  a {
    color: white;
    text-decoration: none;
  }
}

.winecard:hover {
  transform: scale(1.03);
  box-shadow: 0 0 60px rgba(0,0,0,0.1)
}

.winecard p {
  opacity: 0.9;
  font-size: 0.7em!important;
}

.fa-star {
  color: #F55858;
}

.imgbox > img {
  margin-top: 5px;
  max-height: 210px;
}

/* TITLE */
.winecard > h3 {
  letter-spacing: 1.4px;
  font-size: 1.1em;
  line-height: 1.4em;
}

/* BUTTON */
.main-btn {
  position: absolute;
  bottom: 25px;
  left: 10%;
  width: 80%;
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  box-shadow: none;
  background-color: #F55858;
  font-size: 0.9em;
  font-weight: 100;
  letter-spacing: 1.5px;
  color: white;
}

.main-btn:hover {
  opacity: 0.8;
}

/* CARDHEADER */
.cardheader {
  font-size: 1.3em;
  font-weight: 800;
  display: flex;
  justify-content: space-between;
}
