.container {
  display:flex;
}

.white-box {
  background-color: white;
  padding: 30px;
  margin: 50px 100px;
  position: relative;
  height: 525px;
  width: 400px;
  // border: solid 1px #970736;
  border-radius: 3px;
  font-family: Montserrat;
  font-color: #3A3A3A;
  h2 {
    margin-top: 5px;
    font-size: 22px;
    font-weight: 700;
  }
  p {
    font-size: 14px;  
  }
}


.wine-name {
  text-align: center;
  top: 20px;
}

.product-image{
  border-radius: 3px;
  width: 80%;
  height: 280px;
  margin: 0 auto;
  background-size: cover;

  position: relative;
  z-index: 0; position: relative;
}

.card-description {
  color: #484848;
  position: absolute;
  text-align: center;
  font-size: 16px;
  top: 350px;

}

.card-price {
  position: absolute;
  color: #484848;
  bottom: 75px;
  right: 80px;
  font-size: 20px;
  font-weight: 700;
}
// .card-link {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   right: 0;
//   width: 100%;
//   z-index: 2;
//   background: black;
//   opacity: 0;
// }
// .card-link:hover {
//   opacity: 0.1;
// }


.card-rating {
  position: absolute;
  color: black;
  bottom: 75px;
  left: 80px;
}
.product-btn {
  display: block;
  text-align: center;
  padding: 20px;
  font-weight: 700;
  font-size: 16px;
}

a:hover {
  color: white;
  text-decoration: none;
  background-color: rgba(149, 13, 56, 0.8)
}


.main-btn {
  padding: 10px 10px;
  background-color: #970736;
  color: white;
  width: 50%;
  bottom: 30px; 
  position: absolute;
  left: 100px;
}

.fa-star {
  color: #D3B355;
  font-size: 2em;
}