#logo-white {
  color: white;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-top: 12px;
  font-size: 1.3em;
}

#logo-dark {
  color: rgb(55,55,55);
  font-weight: lighter;
  letter-spacing: 1px;
  margin-top: 12px;
  font-size: 1.3em;
}
