/* Main navbar */
.navbar-winelife {
  background: transparent;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.navbar-winelife-brand img {
  max-height: 60px;
}

/* User Avatar */
.navbar-winelife .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-winelife-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-winelife-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-winelife-link {
  color: #fff;
  font-size: 16px;
  margin: 0 5px;
  padding: 4px 20px;
  border: 2px solid rgba(246,84,106,1.0);
  border-radius: 5px;
  color: rgba(246,84,106,1.0);
}

#login-link {
  background-color: rgba(246,84,106,1.0);
  color: white;
}
#login-link:hover {
  color: white;
  text-decoration: none;
}

#signup-link {
  background-color: transparent;
  color: rgba(246,84,106,1.0);
}
#signup-link:hover {
  color: rgba(246,84,106,1.0);
  text-decoration: none;
}

.navbar-wagon-link:hover {
  color: white!important;
  /*not working due to bootstrap and specificity*/
}

/* Dropdown menu */
.navbar-winelife-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-winelife-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-winelife-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-winelife-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
