<!-- 
<div class="container">
	<div class="title text-center">
		<h1> Wines</h1>
	</div>
		<div class="white-box flexbox">
			<div class="row">
				<div class="col-xs-12 col-sm-6">

					<div class="image flex-item">
			<div class="flexbox-image">
				<div class="card-picture">
					<img src="https://www.vin-malin.fr/media/catalog/product/cache/1/image/340x/17f82f742ffe127f42dca9de82fb58b1/1/4/148013-chateau-margaux-1990_5.png" alt="">
				</div>
			</div>
		</div>
		<div class="flex-item">
		</div>
	</div>
	
	
			<div class="white-box flexbox">
				<h2 class="title text-center"> Chateau Margaux - 1990 </h2>

				<div class="flexbox-description">
					<p class="card-description text-right"> Excellent Millésime pour ce 1er grand cru classée mondialement connu</p>
					<div class="card-rating">
						<p>fa.stars</p>
					</div>
					<h3 class="card-price"> $500</h3>
					<a class="main-btn product-btn" href="/products">More details </a>
				</div>
			</div>
		</div>
	</div>	
</div>

-->

<div class="container">
	<div class="title text-center">
		<h1> Wines </h1>
	</div>
	<div class="white-box">
		<div class="name text-center">
			<h2> Chateau Margaux</h2>
		</div>
		<div class="flexbox">
			<div class="image flex-item">
				<img src="https://www.vin-malin.fr/media/catalog/product/cache/1/image/340x/17f82f742ffe127f42dca9de82fb58b1/1/4/148013-chateau-margaux-1990_5.png" alt="">
			</div>
			<div class="description flex-item">
				<div class="description-details">
					<p>Excellent Millésime pour ce 1er grand cru classée mondialement connu</p>
				</div>
				<div class="card-rating">
					<p>fa.stars</p>
				</div>
				<div class="card-price">
					<p> <strong> $ 500 </strong></p>
				</div>
			</div>
		</div>		
	</div>
</div>
</div>