<div class="results-page">
  <div class="flexbox-show">
    <div class="flexbox-item-show">
      <%= image_tag "pinot_noir.jpeg"  %>
    </div>
      <div class="flexbox-item-show">
       <source>
        <h1>le Capybara</h1>
        <p>A fine wine for the most safisticated of Rodents.</p>
        <break>
        <h4>Tasting note</h4>
        <p>a minerality that comes from the terroir.</p>
        <h4>serving tempature</h4>
        <p>14 to 18ºC</p>
      </div>
    </div>
  </div>


 <!-- mobile -->

